<div id="landing" class="hero-unit">
  <h1>OAuth 2.0. But dead simple.</h1>
  <p>Can you imagine getting an OAuth2 compliant Authorization Server (and this client apparently;-) up in a matter of minutes? Wait and see. By the way, the Apis Authorization Server lets you authenticate against any possible backend of your choice and is totally agnostic as it comes to the flavor of your Resource Server.</p>
  <p>
    <a id="loginbutton" class="btn btn-primary btn-large">
      Login
    </a>
    <a id="registerbutton" class="btn btn-primary btn-large">
      Register
    </a>
    <a id="forgotPasswordButton" class="btn btn-primary btn-large">
      Forgot password
    </a>
  </p>
</div>
