
.icon-cw:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-bookmark:before { content: '\e802'; } /* '' */
.icon-certificate-outline:before { content: '\e803'; } /* '' */
.icon-certificate:before { content: '\e804'; } /* '' */
.icon-circle:before { content: '\e805'; } /* '' */
.icon-circle-empty:before { content: '\e806'; } /* '' */
.icon-circle-thin:before { content: '\e807'; } /* '' */
.icon-flag-empty:before { content: '\e808'; } /* '' */
.icon-flag:before { content: '\e809'; } /* '' */
.icon-flag-1:before { content: '\e80a'; } /* '' */